.text-orange {
  color: #ff5300;
}
.menu {
  display: flex;
  justify-content: space-around;
  margin-right: 365px;
  width: 70%;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 20px;
  color: #373737;
}
.topnav {
  background-color: #fff;
  display: flex;
}
.logo {
  margin-top: 26px;
  margin-left: 50px;
}
.logo-small {
  margin-top: 30px;
  display: flex;
  order: 2;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.img-nav {
  margin-left: -20px;
  margin-top: -10px;
}

.section-first {
  display: flex;
  align-items: center;
  background: #fff7f4;
  height: 733px;
}
.title-text {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #373737;
  margin-left: 135px;
  margin-right: 88px;
}
.title-text-content {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
  margin-left: 135px;
  margin-right: 100px;
}
.button-main {
  margin-left: 135px;
  margin-top: 25px;
  background: #ff5300;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #ffffff;
  border: 0;
  width: 150px;
  height: 50px;
}
.social-section-first {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
}
.section-second {
  display: flex;
  margin-top: 50px;
}

.main-title {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 123.6%;
  color: #373737;
  margin-left: 135px;
}
.text-content {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
  margin-left: 135px;
}
.button {
  margin-left: 135px;
  margin-top: 25px;
  background: #ff5300;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #ffffff;
  border: 0;
  width: 150px;
  height: 50px;
}
.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
}
.icon-style {
  max-width: 250px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  font-family: Work Sans;
  line-height: 150.6%;
  color: #373737;
  margin-bottom: 25px;
}
.section-third {
  display: flex;
  background: #fff7f4;
}
.container-third {
  padding-top: 90px;
  padding-left: 135px;
}
.text-content {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
}
.right-block {
  display: flex;
  padding-right: 135px;
}
.left-block {
  width: 735px;
  height: 673px;
  padding-top: 83px;
}
.left-sub-blocks {
  margin-top: 30px;
  margin-left: 20px;
}

.right-sub-blocks {
  margin-bottom: 5px;
}
.text-content-section-third {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
}
.main-title-section-third {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 123.6%;
  color: #373737;
}
.button-section-third {
  background: #ff5300;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #ffffff;
  border: 0;
  width: 150px;
  height: 50px;
}
.block-one {
  margin-left: 30px;
  margin-bottom: 50px;
  width: 270px;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.block-second {
  margin-left: 30px;
  margin-bottom: 50px;
  width: 270px;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.block-third {
  margin-left: 30px;
  margin-bottom: 50px;
  width: 270px;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.block-fourth {
  margin-left: 30px;
  margin-bottom: 50px;
  width: 270px;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.text-block {
  font-family: Work Sans;
  font-size: 48px;
  color: black;
  text-align: center;
  padding-top: 60px;
}
.text-our-expereince {
  height: 25px;
  font-family: Work Sans;
  font-size: 18px;
  line-height: 123.6%;
  color: #7b7b7b;
  text-align: center;
}

.text-name {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #373737;
}

.item {
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
  margin-right: 30px;
}
.item:hover {
  box-shadow: 0 81px 200px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
}
a:hover {
  background-color: #ff5300;
}
.text-our-work:hover {
  color: #ff5300;
}

.text-content-section {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
  text-align: center;
  padding-top: 30px;
}
.section-fourth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title-section {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 123.6%;
  color: #373737;
  text-align: center;
}
.our-work {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  color: #7b7b7b;
  display: flex;
  justify-content: space-evenly;
}
.flex-sub-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-sixth {
  background-color: #fff7f4;
}
.title-our-clients {
  font-family: Work Sans;
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  color: #ffffff;
  margin-left: 50px;
  margin-top: -85px;
}
.text-our-client {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #ffffff;
  margin-left: 50px;
}
.photo {
  position: relative;
  margin-top: 30px;
  margin-left: -35px;
}
.client {
  background: #ff5300;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  margin-left: 180px;
  margin-right: 75px;
  margin-bottom: 50px;
}
.flex-sub-block {
  display: flex;
}

.circle {
  background: #ff5300;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.circle-one {
  background: #373737;
  width: 49px;
  height: 15px;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
}
.circle-two {
  background: #7b7b7b;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.ellipse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5px;
  padding-bottom: 30px;
  padding-top: 50px;
}
.graphic-design {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #ff5300;
  margin-top: -155px;
}
.text-data {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
}
.content-six {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  color: #373737;
}
.content-name {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #373737;
  margin-left: 95px;
  margin-top: 0;
  margin-bottom: 0;
}
.content-data {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
  margin-left: 95px;
  margin-bottom: 0;
  margin-top: 0;
}
.blog-one {
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 15px;
}
.our-contact {
  margin: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.photo-one {
  margin-left: 365px;
}
.photo-second {
  margin-top: -100px;
}
.our-contact {
  margin: 10px 25px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.contact {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  color: #ff5300;
  position: relative;
  padding-left: 125px;
  margin-top: -125px;
  padding-right: 25px;
}
.text-contact {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 31.25px;
  line-height: 123.6%;
  color: #373737;
  position: relative;
  padding-left: 125px;
  margin-top: -20px;
}
.contact-text {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #7b7b7b;
  position: relative;
  padding-left: 18px;
  margin: 5px 15px;
  padding-bottom: 10px;
}
.img-contact {
  padding: 18px 18px;
}
.title-form {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 31.25px;
  line-height: 123.6%;
  color: #373737;
  text-align: center;
  margin-top: 50px;
}

.section-form {
  display: flex;
}

.form {
  display: flex;
  flex-wrap: wrap;
}
.image-main {
  margin-left: 85px;
}
.button-form {
  margin-top: 10px;
  background: #ff5300;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #ffffff;
  border: 0;
  width: 150px;
  height: 50px;
  margin-left: 10px;
}
.input-main {
  height: 60px;
  width: 330px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border: 0;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
}
.textarea {
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border: 0;
  width: 675px;
  height: 163px;
  margin-left: 10px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
}
.section-iframe {
  text-align: center;
}

.iframe {
  text-align: center;
  padding-top: 50px;
}
.logotip {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-evenly;
}
.footer {
  background: #373737;
}
.footer-text {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #ffffff;
  padding-left: 135px;
}
.social {
  padding-left: 135px;
}
.footer-title {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 123.6%;
  color: #ffffff;
  padding-left: 35px;
}
.footer-text-one {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #ffffff;
  padding-left: 16px;
}
.footer_content {
  display: flex;
}
.link {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #ffffff;
}
.img-footer {
  padding-top: 50px;
  padding-left: 135px;
}
.copyright {
  background: #ff5300;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.copyright-footer {
  margin-left: 125px;
}
.vector {
  padding-top: 10px;
}
.input-footer {
  margin-left: 18px;
  border: 1px solid #ff5300;
  box-sizing: border-box;
  background: #373737;
  padding-left: 18px;
  height: 60px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
  border: 1px solid #ff5300;
}
.button-footer {
  width: 81px;
  height: 60px;
  background: #ff5300;
  border-radius: 0px;
  border: 0;
  border: 1px solid #ff5300;
}
.input-button {
  display: flex;
}
html {
  scroll-behavior: smooth;
}
@media (width: 320px) {
  .social-section-first {
    display: none;
  }
  .logo {
    margin-top: 9px;
    margin-left: 0;
  }
  .img-nav {
    width: 100px;
    margin-left: -20px;
    margin-top: 0;
  }
  .logo-small {
    margin-top: 10px;
    order: 0;
  }

  .menu {
    display: none;
  }

  .section-first {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .image-main {
    max-width: 260px;
    margin: 0 auto;
  }

  .flex-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    margin-top: 50px;
  }
  .title-text {
    margin: 0;
    text-align: center;
  }
  .title-text-content {
    text-align: center;
    margin: 0;
  }
  .button-main {
    margin-left: 0;
  }
  .button {
    margin: 0;
  }
  .section-second {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-main-second {
    max-width: 260px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }
  .text-content {
    text-align: center;
    margin: 0px;
  }
  .main-title {
    margin: 0;
    text-align: center;
  }
  .icon {
    flex-direction: column;
    align-content: center;
  }
  .icon-style {
    margin-bottom: 25px;
  }
  .section-third {
    flex-direction: column;
  }
  .right-block {
    display: block;
  }
  .text-content-section-third {
    text-align: center;
  }
  .main-title-section-third {
    text-align: center;
  }
  .button-section-third {
    margin-left: 55px;
  }
  .block-third {
    margin-left: 10px;
  }
  .block-fourth {
    margin-left: 10px;
  }
  .section-fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .our-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .img-width-100 {
    width: 100%;
  }
  .client {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .title-our-clients {
    margin-top: -95px;
    margin-left: 30px;
    text-align: center;
  }
  .flex-sub-block {
    flex-direction: column;
  }
  .text-our-client {
    margin-top: -20px;
    padding: 10px 10px;
    text-align: center;
    margin-left: 0px;
  }
  .item {
    margin-right: 0;
  }
  .blog-one {
    text-align: center;
  }
  .photo-one {
    margin: 0;
  }
  .photo-second {
    margin: 0;
  }
  .graphic-design {
    margin: 0;
  }
  .content-name {
    margin: 0;
  }
  .content-data {
    margin: 0;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .iframe {
    padding: 10px;
    width: 300px;
  }
  .textarea {
    width: 300px;
  }
  .input-main {
    width: 300px;
  }
  .section-form {
    flex-direction: column;
  }
  .logo-size {
    width: 60px;
  }

  .container {
    padding: 10px;
    position: relative;
    margin-top: 4px;
  }
  .content-wrapper {
    width: 100%;
  }

  .header__nav {
    position: absolute;
  }

  .header__menu li {
    display: none;
  }
  .content-wrapper {
    margin-top: 78px;
    padding: 10px;
    line-height: 34px;
  }

  .menu-burger__header span,
  .menu-burger__header:after,
  .menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }
  .menu-burger__header span {
    top: 21px;
  }
  .menu-burger__header:after,
  .menu-burger__header:before {
    content: "";
  }
  .menu-burger__header:after {
    bottom: 5px;
  }
  .menu-burger__header:before {
    top: 5px;
  }
  .copyright {
    text-align: center;
    margin-top: 30px;
    padding: 0;
  }
  .vector {
    display: none;
  }
  .input-footer {
    margin-left: 16px;
  }
  .footer-title {
    padding-left: 16px;
  }
  .footer-text {
    padding-left: 16px;
  }
  .img-footer {
    padding-left: 16px;
  }
  .nav-footer {
    padding-left: 16px;
  }

  .social {
    padding-left: 16px;
  }

  .copyright-footer {
    padding: 18px;
    margin-left: 0;
  }
  .footer_content {
    display: block;
  }
}
@media (width: 1024px) {
  .logo-small {
    margin-right: 50px;
    margin-top: 20px;
  }

  .image-main {
    width: 400px;
    margin-right: 100px;
  }
  .title-text {
    margin-left: 40px;
  }
  .title-text-content {
    margin-left: 40px;
  }
  .button-main {
    margin-left: 40px;
  }
  .iframe {
    padding: 10px;
    width: 800px;
  }
  .image-main-second {
    width: 500px;
  }
  .text-content {
    margin-left: 50px;
  }
  .main-title {
    margin-left: 50px;
  }
  .button {
    margin-left: 50px;
  }
  .icon-style {
    width: 154px;
    margin-right: 24px;
  }
  .m10 {
    margin: 10px;
  }
  .four {
    display: none;
  }
  .img-width-100 {
    width: 260px;
  }
  .main-title-section {
    width: 500px;
    margin: 0 auto;
  }
  .text-content-section-third {
    margin-left: -85px;
  }
  .main-title-section-third {
    margin-left: -85px;
  }
  .block-one {
    margin-left: 110px;
    margin-top: 185px;
  }
  .block-second {
    margin-left: 110px;
  }
  .block-third {
    margin-top: 185px;
    margin-left: 0px;
  }
  .block-fourth {
    margin-left: 0;
  }
  .button-section-third {
    margin-left: -85px;
  }
  .right-block {
    padding-right: 0;
  }

  .client {
    margin-left: 60px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .blog-one {
    width: 332px;
  }
  .photo-one {
    position: relative;
    padding-top: 40px;
    margin-left: 230px;
    width: 100px;
  }
  .content-six {
    width: 220px;
  }
  .graphic-design {
    margin-top: -150px;
  }
  .our-contact {
    margin-right: 10px;
  }
  .input-main {
    width: 185px;
  }
  .image-main {
    width: 400px;
    height: 250px;
    margin-top: 90px;
    margin-right: 100px;
  }
  .textarea {
    width: 385px;
  }
  .img-footer {
    padding-left: 40px;
  }
  .footer-text {
    padding-left: 40px;
  }
  .social {
    padding-left: 40px;
  }
  .copyright-footer {
    margin-left: 40px;
  }
  .button-footer {
    margin-right: 40px;
  }
}
